/* Definindo CORES e LETRAS */

:root {
    --verde-principal: #034C31;
    --verde-claro: #23682F;
    --branco-letra: #fefefe;
    --fonte-principal: 'Inter', sans-serif;
}

/* Ajustanto os parâmetros básicos.  */

body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}


/* VERSÃO MOBILE */
/* Banner inicial */

@media (max-width: 769px) {
    body {
        overflow-y: auto;
    }

    

    
    /* OCULTANDO ITENS DESKTOP */
    .header_desktop {
        display: none;
    }

    .banner_principal {
        display: none;
    }

    .container_titulo img {
        display: none;
    }

    .container_especialidades {
        display: none;
    }

    .container_trabalho {
        display: none;
    }

    .container_complementares {
        display: none;
    }

    .container_ocupacionais {
        display: none;
    }

    .container_titulo_desktop {
        display: none;
    }

    .container_esocial {
        display: none;
    }

    .esocial_diferencial {
        display: none;
    }

    .botao_whatsapp_desktop {
        display: none;
    }

    /* ===================== HEADER MOBILE =========== */
    /* ======================= HEADER MOBILE ========================== */
    .header_mobile {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        height: 40px;
        background-color: #d9d9d9;
        max-width: 100%;
    }
    .header_mobile a {
        text-decoration: none;
    }

    .header_mobile_logo {
        min-width: 56px;
        min-height: 14px;
        padding-right: 8rem;

    }

    .botoes_header_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 4rem;
        
    }

    .botoes_header_mobile::before {
        width: 0.0625rem;
        height: 1.5rem;
        background-color: var(--verde-principal);
        content: "";
        margin-right: 0.5rem;
    }

    .botoes_header_mobile::after {
        width: 0.0625rem;
        height: 1.5rem;
        background-color: var(--verde-principal);
        content: "";
        margin-left: 0.3rem;
    }

    .botao_facebook_mobile img,
    .botao_instagram_mobile img {
        width: 70%;
        height: 70%;
        justify-content: center;
        align-items: center;
        

    }

    .botao_whatsapp_header_mobile {
        display: inline-flex;
        padding: 0.1875rem 0.5rem 0.25rem 0.4375rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: var(--verde-principal);
        color: var(--cinza-claro-50, #FEFEFE);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.475rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        min-height: 18px;
        margin-left: 3rem;
    }

    /* ============= CARROSSEL MOBILE ================= */
    .swiffy-slider {
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }
    .swiffy-slider img {
        border-radius: 16px;
    }



    /* Títulos das ESPECIALIDADES */
    .container_titulo {
        width: 100%;
        display: flex;
        height: 4rem;
        color: var(--branco-letra);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        background-color: var(--verde-principal);
        align-items: center;
        justify-content: center;


    }

    .titulo {
        display: flex;
        margin: 0;
        align-items: center;
        text-align: center;
        display: inline-flex;
        padding: 0.625rem 1.5625rem 0.625rem 1.4375rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: #23682F;
    }

    .container_especialidades_mobile {
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: grid;
        grid-template-columns: 2fr 0.2fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 0.75rem;
        max-width: 80%;
        margin: 2.1rem 10vw;
    }

    .esp_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .esp_2 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .esp_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .esp_4 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .esp_5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .esp_6 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .esp_7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    /* MEDICINA DO TRABALHO ----------------------- */
    .container_trabalho_mobile {
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: grid;
        grid-template-columns: 2fr 0.2fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 2.6rem;
        grid-row-gap: 0.75rem;
        max-width: 80%;
        margin: 2.1rem 10vw;
        margin-bottom: 0.5rem;
    }

    .trab_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .trab_2 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .trab_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .trab_4 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .trab_5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    /* EXAMES COMPLEMENTARES -------------------------- */
    .container_complementares_mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 0.75rem;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 90%;
        margin: 2.1rem 10vw;
        text-align: left;
    }

    .compl_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .compl_2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .compl_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .compl_4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .compl_5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .compl_6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .compl_7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .compl_8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .compl_9 {
        grid-area: 5 / 1 / 5 / 2;
    }
    .compl_10 {
        grid-area: 5 / 2 / 5 / 3;
    }

    /* EXAMES OCUPACIONAIS --------------------------- */
    .container_ocupacionais_mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 90%;
        margin: 2.1rem 10vw;
        text-align: left;
    }

    .container_ocupacionais span {
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .ocup_1 {
        grid-area: 1 / 1 / 3 / 2;

    }

    .ocup_2 {
        grid-area: 1 / 2 / 3 / 3;
    }

    .ocup_3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .ocup_4 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .ocup_5 {
        grid-area: 4 / 1 / 6 / 2;
    }

    .ocup_6 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .ocup_7 {
        grid-area: 5 / 2 / 6 / 3;
    }

    /* REALIZAMOS TAMBÉM --------------------- */
    .container_titulo_icon {
        display: flex;
        justify-content: center;
        width: 100%;
        display: flex;
        height: 4rem;
        color: var(--branco-letra);

        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        background-color: var(--verde-principal);
        align-items: center;
        text-align: left;
    }

    .container_titulo_icon img {
        
        max-width: 20vw;
    }


    .container_esocial_mobile {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 1rem;
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0.5rem 10vw;
        text-align: left;
    }

    .container_esocial span {
        color: var(--verde-principal);
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .esocial_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .esocial_2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .esocial_3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .esocial_4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    /* DIFERENCIAL ESOCIAL MOBILE */
    .esocial_diferencial_mobile {
        display: flex;
        flex-direction: column;
        color: #3D3D3D;
        font-family: Inter;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 700;
        line-height: 139.176%;
        border: 2px solid #034C31;
        margin: 1rem;
        max-width: 90vw;
        row-gap: 1rem;
    }
    .esocial_diferencial_mobile li{
        max-width: 80%;
    }
    /* PLANOS DE SAÚDE  */
    .container_planos {
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 2rem;
        background: #42862B;
        max-width: max-content;
        margin: 2rem auto;
    }

    .planos_titulo {
        color: #FEFEFE;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin: 0.5rem;
        text-align: center;
    }

    .planos_saude {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .planos_saude img {
        max-width: 40vw;
    }



    /* FOOTER / CONTAINER CONTATO */
    .container_contato {
        display: flex;
        flex-direction: column;
    }

    .logo_contato {
        margin: auto
    }

    .logo_contato img {
        max-width: 50vw;
    }

    .contato_endereco,
    .contato_telefone {
        display: flex;
        max-width: 50vw;
        margin: auto;
        color: #000;
        font-family: var(--fonte-principal);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    .contato_endereco img,
    .contato_telefone img {
        padding-right: 10px;

    }

    .contato_botoes {
        padding-top: 1rem;
        padding-bottom: 1.4rem;
        display: flex;
        max-width: max-content;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
    }

    .botao_horario {
        display: inline-flex;
        padding: 0.1875rem 1.0625rem 0.125rem 1.0625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1875rem;
        border-radius: 2rem;
        border: 1px solid #034C31;
        background: #FEFEFE;
        height: fit-content;
    }

    .botao_horario h4,
    .botao_horario p {
        margin: 0;
    }

    .botao_horario h4 {
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

    }

    .botao_horario p {
        color: #42862B;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 91.977%;
        /* 0.45988rem */
    }

    .botao_whatsapp_mobile {
        display: inline-flex;
        padding: 0.4375rem 2.125rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: #42862B;
        max-width: fit-content;
    }

    .botao_whatsapp_mobile a {
        text-decoration: none;
        color: #FEFEFE;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-family: var(--fonte-principal);
    }

    /* COPYRIGHT - DESENVOLVIDO POR GUILHERME VITORINO DIAS GODOY (DESIGN) E CAIO CÉSAR DE JESUS FARIA (PROGRAMAÇÃO) */
    .copyright {
        padding-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .copyright a {
        color: var(--verde-principal);
        text-decoration: none;
        text-align: center;
    }

    .copyright p {
        font-size: 0.525rem;
        margin-left: 0;
        margin-right: 0;
    }

    



}

/* MÉDIA QUERY PARA DESKTOP / 1440PX */
@media (min-width: 1080px) and (max-width:1920px) {
    body {
        scroll-behavior: smooth;

    }

    .header_desktop {
        display: flex;
        justify-content: space-around;
        height: 80px;
        background-color: #d9d9d9;
        align-items: center;
    }

    .header_desktop img {
        width: 132px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .header_especialidade,
    .header_trabalho,
    .header_complementares,
    .header_ocupacionais {
        display: inline-flex;
        text-decoration: none;
        padding: 11px 18px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 2rem;
        border: 1px solid var(--verde-principal);
        background: rgba(35, 104, 47, 0.00);
        max-height: 30px;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .header_especialidade:hover,
    .header_trabalho:hover,
    .header_complementares:hover,
    .header_ocupacionais:hover {
        background: var(--verde-principal);
        color: var(--branco-letra);
    }

    /* .header_especialidade:hover {
        background: var(--verde-principal);
        color: var(--branco-letra);

    } */

    .botoes_header {
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    
    .botoes_header::before {
        width: 0.0625rem;
        height: 3rem;
        background-color: var(--verde-principal);
        content: "";
    }

    .botoes_header::after {
        width: 0.0625rem;
        height: 3rem;
        background-color: var(--verde-principal);
        content: "";
    }
    
    .botao_facebook img,
    .botao_instagram img {
        width: 26px;
    }
    

    .botao_whatsapp_header {
        display: flex;
        padding: .8rem 1.8rem .8rem 1.8rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: var(--verde-principal);
        color: #FEFEFE;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-decoration: none;
        margin-right: 2rem;
    }
    .botao_whatsapp_header:hover {
        background: var(--verde-claro);
        scale: 1.1;
    }
    .botao_whatsapp_header i {
        margin-right: 0.5rem;
        align-items: center;
    }
    /*=============================== CARROSSEL DESKTOP ==============  */
    .carrossel input {
        position: absolute;
        left: -10000px;
    }

    .carrossel {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .carrossel__desktop {
        overflow: hidden;
        font-size: 0;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        transition: text-indent 500ms;
        position: relative;
        border-radius: 16px;
    }

    .carrossel__item {
        display: inline-block;
        text-indent: 0;
        width: 100%;
        height: 100%;
    }

    .carrossel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carrossel__control {
        display: none;
        position: absolute;
        top: 50%;
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
        z-index: 2;
        font-size: 1rem;
        padding: 20px;
        cursor: pointer;
        border-radius: 50%;
    }

    .carrossel__prev {
        left: 10px;
    }

    .carrossel__prev::after {
        content: ' << ';
        display: inline-block;

    }

    .carrossel__next {
        right: 10px;
    }

    .carrossel__next::after {
        content: ' >> ';
        display: inline-block;
    }

    #carrossel1:checked~.carrossel__desktop {
        text-indent: 0;
    }

    #carrossel2:checked~.carrossel__desktop {
        text-indent: -100%;
    }

    #carrossel3:checked~.carrossel__desktop {
        text-indent: -200%;
    }
    #carrossel4:checked~.carrossel__desktop {
        text-indent: -300%;
    }
    #carrossel5:checked~.carrossel__desktop {
        text-indent: -400%;
    }

    #carrossel1:checked~.carrossel__desktop .carrossel__item:nth-child(1) .carrossel__control,
    #carrossel2:checked~.carrossel__desktop .carrossel__item:nth-child(2) .carrossel__control,
    #carrossel3:checked~.carrossel__desktop .carrossel__item:nth-child(3) .carrossel__control,
    #carrossel4:checked~.carrossel__desktop .carrossel__item:nth-child(4) .carrossel__control,
    #carrossel5:checked~.carrossel__desktop .carrossel__item:nth-child(5) .carrossel__control {
        display: block;
    }




    /*=============================== CARROSSEL DESKTOP ==============  */
    .banner_principal {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1.5rem 1rem;
        justify-content: center;
    }

    .botao_endereco {
        display: flex;
        width: 16.9375rem;
        height: 4rem;
        padding: 1.4375rem 1.4375rem 1.5625rem 1.4375rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        border-radius: 2rem;
        background: var(--verde-principal);

    }

    .botao_horario_desktop {
        display: flex;
        width: 16.9375rem;
        height: 4rem;
        padding: 1.4375rem 1.4375rem 1.5625rem 1.4375rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        border-radius: 2rem;
        background: var(--verde-principal);

    }
    /* .botao_endereco:hover,
    .botao_horario_desktop:hover {
        background: var(--verde-claro);
        cursor: pointer;
    } */
    .principal_botoes {
        display: flex;
        justify-content: center;
        margin-top: -2rem;
        margin-left: 40vw;
        column-gap: 1rem;
        z-index: 2;
        position: relative;
    }

    .botao_endereco h4,
    .botao_horario_desktop h4 {
        color: #FEFEFE;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin: 0;
    }

    .botao_endereco p,
    .botao_horario_desktop p {
        width: 14.0625rem;
        color: #FEFEFE;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .container_titulo {
        display: flex;
        max-width: 100%;
        padding: 0.8125rem 56.4375rem 0.79819rem 6.625rem;
        align-items: center;
        gap: 3.29206rem;
        background: var(--verde-principal);
        margin-top: 2.5rem;
    }

    .titulo {
        color: var(--branco-letra);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .container_especialidades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3.8rem;
        column-gap: 10rem;
    }
    .container_especialidades img:hover {
        scale: 1.1;
    }
    .esp_1,
    .esp_2,
    .esp_3,
    .esp_4,
    .esp_5,
    .esp_6,
    .esp_7 {
        display: flex;
        flex-direction: column;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        max-width: 15vw;
    }

    .container_trabalho {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3.8rem;
    }
    .container_trabalho img:hover {
        scale: 1.1;
    }

    .trab_1,
    .trab_2,
    .trab_3,
    .trab_4,
    .trab_5 {
        display: flex;
        flex-direction: column;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
    }

    .container_complementares {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3.8rem;
    }
    .container_complementares img:hover {
        scale: 1.1;
    }
    .compl_1,
    .compl_2,
    .compl_3,
    .compl_4,
    .compl_5,
    .compl_6,
    .compl_7,
    .compl_8 {
        display: flex;
        flex-direction: column;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
    }

    .container_ocupacionais {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 3.8rem;
        align-items: center;
    }
    .container_ocupacionais img:hover {
        scale: 1.1;
    }
    .ocup_1,
    .ocup_2,
    .ocup_3,
    .ocup_4,
    .ocup_5,
    .ocup_6,
    .ocup_7 {
        display: flex;
        flex-direction: column;
        color: var(--verde-principal);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;


    }

    /* OCULTANDO ITENS DO MOBILE */
    .swiffy-slider {
        display: none;
    }
    .swiffy-slider button{
        display: none;
    }
    .slider-container {
        display: none;
    }
    .slider-container img {
        display: none;
    }
    .slider-indicators {
        display: none;
    }
    .header_mobile {
        display: none;
    }
    .container_titulo_icon {
        display: none;
    }

    .container_especialidades_mobile {
        display: none;
    }

    .container_trabalho_mobile {
        display: none;
    }

    .container_complementares_mobile {
        display: none;
    }

    .container_ocupacionais_mobile {
        display: none;
    }

    .container_titulo_icon {
        display: none;
    }

    .container_esocial_mobile {
        display: none;
    }

    .botao_horario {
        display: none;
    }

    .botao_whatsapp_mobile {
        display: none;
    }


    .container_titulo_desktop {
        display: flex;
        max-width: 100%;
        padding: 0.8125rem 56.4375rem 0.79819rem 6.625rem;
        align-items: center;
        gap: 3.29206rem;
        background: var(--verde-principal);
        margin-top: 7rem;
        height: 9.375rem;
    }

    .container_titulo_desktop img {
        width: 100%;

    }

    .container_titulo_desktop p {
        width: max-content;
    }

    .titulo_desktop h2 {
        color: var(--branco-letra);
        font-family: var(--fonte-principal);
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-align: left;
    }

    .titulo_desktop p {
        color: var(--branco-letra);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
    }

    .esocial_1 {
        display: none;
    }

    .esocial_diferencial_mobile {
        display: none;
    }
    .container_esocial {
        display: flex;
        justify-content: space-evenly;
        padding-top: 3.8rem;
        align-items: center;
    }
    .container_esocial img:hover {
        scale: 1.1;
    }

    .esocial_2,
    .esocial_3,
    .esocial_4 {
        display: flex;
        flex-direction: column;
        width: 25vw;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: var(--fonte-principal);
        color: var(--verde-principal);
        row-gap: 2rem;
        text-align: center;
    }


    .esocial_diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
        width: 70vw;
        text-align: left;
        color: #3D3D3D;
        font-family: var(--fonte-principal);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 139.176%;
        row-gap: 10rem;
        border: 4px solid #034C31;


    }

    .diferencial_lista {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
    }


    .container_planos {
        margin-top: 4rem;
        display: flex;
        width: 100%;
        height: 6.375rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--verde-principal);
        color: var(--branco-letra);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-family: var(--fonte-principal);
    }

    .planos_saude {
        margin: 0 4rem;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
        max-width: 90vw;
        padding: 4rem;
        align-items: center;

    }

    .planos_saude img {
        min-width: 25vw;
    }

    .container_planos_desktop {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-family: var(--fonte-principal);
        color: var(--verde-principal);
        text-align: center;
    }

    .carousel {
        display: none;
    }

    .logo_contato img {
        max-width: 30vw;
        margin-left: 3rem;
    }

    .container_contato {
        background: #D9D9D9;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contato_desktop {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        max-width: 40vw;
        margin-right: 3rem;

        align-content: space-around;

    }

    .contato_endereco,
    .contato_telefone {
        display: flex;
        max-width: 50vw;
        margin: auto;
        color: #000;
        font-family: var(--fonte-principal);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .contato_endereco img,
    .contato_telefone img {
        padding-right: 10px;
        min-width: 2rem;
        color: #034C31;

    }

    .contato_endereco p,
    .contato_telefone p {
        color: #000;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        width: 409px;
    }

    .botao_whatsapp_desktop {
        display: inline-flex;
        padding: 0.5625rem 5.6875rem 0.625rem 5.6875rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: var(--verde-principal);
        margin-left: 8rem;
        margin-bottom: 2rem;
        margin-right: 20vw;
    }
    .botao_whatsapp_desktop:hover {
        background: var(--verde-claro);
        cursor: pointer;
    }

    .botao_whatsapp_desktop a {
        text-decoration: none;
        text-align: center;
        width: auto;
        color: var(--branco-letra);
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .copyright {
        color: #000;
        font-family: var(--fonte-principal);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;

    }

    .copyright a {
        text-decoration: none;
        color: #000;
        font-family: var(--fonte-principal);
    }


    .banner_logo {
        display: none;
    }










}